<h1 id="center">I am a...</h1>

<section class="image-format">

  <div>
    <%= link_to(image_tag("users.png", :alt => "user", :title => "User"), "users/show") %>
    <h3>Visitor</h3>
  </div>
  <div>
    <%= link_to(image_tag("market-stall.jpg", :alt => "market", :title => "Market"), "markets/index") %>
    <h3>Market</h3>
  </div>
  <div>
    <%= link_to(image_tag("vendoroption.png", :alt => "vendor", :title => "Vendor"), "vendors/index") %>
    <h3>Vendor</h3>
  </div>

</section>
