<h1>I am a...</h1>

<h3><%= link_to(image_tag("users.jpg", :alt => "user", :title => "User"), "show") %>User</h3>
<h3><%= link_to(image_tag("market-stall.jpg", :alt => "market", :title => "Market"), "markets/index") %>Market</h3>
<h3><%= link_to(image_tag("vendoroption.jpg", :alt => "vendor", :title => "Vendor"), "vendors/index") %>Vendor</h3>
