<h1>I am a...</h1>

<section class="article-format">

  <div>
    <h3>User</h3>
    <%= link_to(image_tag("users.jpg", :alt => "user", :title => "User"), "users/show") %>
  </div>
  <div>
    <h3>Market</h3>
    <%= link_to(image_tag("market-stall.jpg", :alt => "market", :title => "Market"), "markets/index") %>
  </div>
  <div>
    <h3>Vendor</h3>
    <%= link_to(image_tag("vendoroption.jpg", :alt => "vendor", :title => "Vendor"), "vendors/index") %>
  </div>

</section>
